*{
    margin: 0;
    padding: 1px;
    background-color: bisque;
    box-sizing:border-box;
    
}
.h2{
    color: #555 !important;
    font-family:"Press Start 2P","consolas",sans-serif;
    text-decoration: #555 dotted underline;

}
.h5{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;

}
/* .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
